@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

:root{
  background-color: #F5F5F5 !important;
}

.gameWrapper {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12px;
  color: #575757;
  background-color: #F5F5F5;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: #0E3A5E;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.card {
  border-radius: 3px;
  margin-bottom: 15px;
}

.card-header {
  background-color: #FFF !important;
  border-bottom: 0 !important;
  color: #333;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
}

.card-block {
  padding: 10px;
}

/* These are all marked important to overide BootStrap */

.card-plain {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* These are all marked important to overide BootStrap */

.card-plain .card-header {
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.blueCell {
  background-color: #41BDF3;
  border: 1px solid #FFF;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  height: 50px;
  width: 50px;
}

.redCell {
  background-color: #E2151B;
  border: 1px solid #FFF;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  height: 50px;
  width: 50px;
}

.whiteCell {
  background-color: #FFFFFF;
  border: 1px solid #FFF;
  color: #575757;
  cursor: pointer;
  font-size: 12px;
  height: 50px;
  width: 50px;
}

.grayCell {
  background-color: #959595;
  border: 1px solid #FFF;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  height: 50px;
  width: 50px;
}

.col-xs-1-10, .col-sm-1-10 {
  min-height: 36px;
  position: relative;
}

.col-xs-1-10 {
  float: left;
  min-height: 36px;
  width: 10%;
}

.col-xs-10-10, .col-sm-10-10 {
  min-height: 36px;
  position: relative;
  width: 100%;
}

.col-xs-10-10 {
  float: left;
  min-height: 36px;
  width: 100%;
}

.row {
  margin: 0 !important;
}

.gameRoomButton {
  background-color: #FFF;
  border-radius: .25rem;
  box-shadow: none;
  color: #333;
  cursor: pointer;
  font-size: 22px;
  height: 150px;
  margin: 10px;
  width: 100%;
  border-radius: 3px;
}

.playerMessageSpan {
  color: #333;
  font-size: 14px;
}

.messageCard, .sunkenShipsCard {
  color: #333;
  font-size: 22px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.messageCardText, .sunkenShipList {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.sunkenShip {
  color: #E2151B
}

.floatingShip {
  color: #41BDF3
}

.screen {
  background-color: #082B0C;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: 0 !important;
}

button:disabled {
  cursor: default;
}

button:disabled:hover {
  cursor: default;
  opacity: 1;
}

@-webkit-keyframes blue-highlight {
  0% {
    background: #0E3A5E;
  }
  100% {
    background: none;
  }
}

@keyframes blue-highlight {
  0% {
    background: #0E3A5E;
  }
  100% {
    background: none;
  }
}

.highlight {
  -webkit-animation: blue-highlight 1s ease-in 1;
  animation: blue-highlight 1s ease-in 1;
}

@media (min-width: 768px) {
  .col-sm-1-10 {
    float: left;
    min-height: 36px;
    width: 10%;
  }
  .col-sm-10-10 {
    float: left;
    min-height: 36px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1-10 {
    float: left;
    min-height: 36px;
    width: 10%;
  }
  .col-md-10-10 {
    float: left;
    min-height: 36px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-10 {
    float: left;
    min-height: 36px;
    width: 10%;
  }
  .col-lg-2-10 {
    float: left;
    min-height: 36px;
    width: 20%;
  }
}
